
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Главная</title>
  <link rel="icon" href="/static/image/logos/mini_logo.svg">
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/for-main.css">
</head>
<body>
    <header>
        <%- include ('Header/header-not-authorized'); -%>
    </header>

    <div class="container">
        <p class="navigation">Главная</p>
        <div id="card-text-with-image_1-3">
            <div id="card-text-with-image_1">
                <div id="start-main">
                    <h1 id="orange-headline">Крупнейшая платформа<br>открытых сердец!</h1>
                    <h3>Присоединяйся к нам и начни творить добро!</h3>
                    <a href="#" class="volunteer-button">Вступить в ряды волонтеров</a>
                </div>
                <img src="/static/image/photo/image_1.webp" alt="image_1" id="image_1">
            </div>
            <div id="images_2-3">
                <img src="/static/image/photo/image_2.webp" alt="image_2" id="image_2">
                <img src="/static/image/photo/image_3.webp" alt="image_3" id="image_3">    
            </div>
        </div>
    
        <div>
           <h2>Кто мы?</h2>
            <p>Мы — команда единомышленников, которая верит, что даже маленькие шаги могут изменить мир к лучшему. Наша миссия — помогать тем, кто в этом нуждается, и создавать условия для того, чтобы каждый мог проявить свою доброту и участие.</p>
        </div>
        
        <div id="all-our-values">
            <div id="our-values">
                <h2>Наши ценности</h2>
                <p><span class="orange-accents">- Доброта и человечность</span><br>
                    Мы верим, что каждый заслуживает заботы и внимания<br>
                    <span class="orange-accents">- Открытость</span><br>
                    Мы всегда готовы к диалогу и сотрудничеству c теми, кто разделяет наши идеи<br>
                    <span class="orange-accents">- Ответственность</span><br>
                    Мы стремимся к тому, чтобы каждая наша инициатива была продуманной и эффективной<br>
                    <span class="orange-accents">- Вдохновение</span><br>
                    Мы хотим вдохновлять людей на добрые дела и показывать, что даже небольшой вклад может изменить чью-то жизнь</p>
            </div>
            <div id="our-values-images">
                <img src="/static/image/photo/image_4.jpg" alt="image_4">
                <img src="/static/image/photo/image_5.webp" alt="image_5">
            </div>
        </div>
    
        <div id="how-is-it-work-steps">
            <h2>Как это работает?</h2>
            <div class="step">
                <h3><span class="steps">1 шаг</span></h3>
                <h3 class="step-header">Регистрируетесь<wbr> на платформе</h3>
            </div>
            <p>Перейдите на <a id="link-registration" href="#">страницу регистрации</a>, заполните необходимые поля в форме и подтвердите свою учетную запись</p>
            <div class="step">
                <h3><span class="steps">2 шаг</span></h3>
                <h3 class="step">Выберете мероприятие</h3>
            </div>
            <p>Ознакомьтесь со всем многообразием вариантов мероприятий на сайте и выберете к чему лежит ваша душа</p>
            <div class="step">
                <h3><span class="steps">3 шаг</span></h3>
                <h3 class="step">Оставьте заявку</h3>
            </div>
            <p>После выбора мероприятия (или мероприятий) оставить свою заявку на участие</p>
            <div class="step">
                <h3><span class="steps">4 шаг</span></h3>
                <h3 class="step">Станьте добровольцем</h3>
            </div>
            <p>Станьте добровольцем в команде единомышленников и творите добро</p>
        </div>
    
        <div class="directions-of-activity">
            <h3>Направления деятельности, по которым мы работаем</h3>
            <nav>
                <ul class="list-directions-of-activity">
                    <li class="direction">Дети и молодежь</li>
                    <li class="direction">Образование</li>
                    <li class="direction">Поиск пропавших</li>
                    <li class="direction">СВО</li>
                    <li class="direction">Урбанистика</li>
                    <li class="direction">Срочная помощь (ЧС)</li>
                    <li class="direction">Экология</li>
                    <li class="direction">Животные</li>
                    <li class="direction">Ветераны и историческая память</li>
                    <li class="direction">Спорт и события</li>
                    <li class="direction">Здравоохранение</li>
                    <li class="direction">Права человека</li>
                    <li class="direction">Помощь лицам с ОВЗ</li>
                    <li class="direction">Старшее поколение</li>
                    <li class="direction">Культура и искусство</li>
                    <li class="direction">Интеллектуальная помощь</li>
                    <li class="direction">Наука</li>
                    <li class="direction">Наставничество</li>
                    <li class="direction">Другое</li>
                </ul>
            </nav>
        </div>    
    
        <h2>Наш адрес</h2>
        <div id="iframe-container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2440.939330641354!2d104.2822485!3d52.28080339999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5da83b4c83aaf8f9%3A0xbcf9d51d4b472196!2z0YPQuy4g0JvQtdC90LjQvdCwLCAxMSwg0JjRgNC60YPRgtGB0LosINCY0YDQutGD0YLRgdC60LDRjyDQvtCx0LsuLCDQoNC-0YHRgdC40Y8sIDY2NDAyNQ!5e0!3m2!1sru!2sfr!4v1740922148691!5m2!1sru!2sfr" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

        <div class="connection-mail">
            <div class="connection">
                <p id="connection-head">Мы всегда на связи!</p>
                <p id="connect">У нас работает почта <span id="mail">info@openhearts.ru</span>.<br>По запросу предоставим вам необходимую помощь или консультацию по работе c платформой. Ответ на ваш вопрос поступит в течении 72 часов.</p>
            </div>
            <img src="/static/image/photo/image_6.png" alt="Картинка_6">
        </div>
    
        <div class="bottom-main">
            <h2>Присоединяйтесь к самой <br><span id="orange-bottom-headline">крупнейшей платформе открытых сердец!</span></h2>
            <h3>Мы всегда рады новым волонтерам, партнерам и друзьям.<br>Вместе мы можем сделать больше!</h3>
            <a href="/api/auth/registration" class="volunteer-button">Стать волонтером</a>
            <div class="images-flex">
                <div class="image7"><img src="/static/image/photo/image_7.jpg" alt="image_7"></div>
                <div class="image8"><img src="/static/image/photo/image_8.jpg" alt="image_8"></div>
                <div class="image9"><img src="/static/image/photo/image_9.jpg" alt="image_9"></div>
                <div class="image10"><img src="/static/image/photo/image_10.jpg" alt="image_10"></div>
            </div>
        </div>
    </div>
    <%- include ('Header/foot'); -%>
</body>