<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
    <link rel="stylesheet" href="/static/css/for-registration.css">
    <link href="..\static\css\style.css" rel="stylesheet">
    <link href="..\static\css\style 2.0.css" rel="stylesheet">
    <link rel="icon" href="/static/image/logos/mini_logo.svg">
</head>
<body>
<img src="/static/image/logos/logo.svg" alt="Логотип" class="logo">
<div class="back-link-container">
    <a href="/" class="back-link">&lt; Назад</a>
</div>

<h1>Вход</h1>
<p class="subtext">Нет аккаунта? <a href="/api/auth/registration" class="login-link">Зарегистрироваться</a></p>

<form method="POST" action="/api/auth/login">
    <div class="form-field">
        <input type="email" name="mail" placeholder="Электронная почта*" required>
    </div>
    <div class="form-field">
        <input type="password" name="password" placeholder="Пароль*" required>
    </div>
    <button type="submit" class="register-button">Войти</button>
</form>
</body>
</html>