#start-edit-volunteer-account{
    margin-left: 153px;
    margin-right: 153px;
}

#start-edit-volunteer-account h2{
    text-align: center;
}

#comment{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #878787;
}