#start-edit-volunteer-account h2{
    text-align: center;
}

#comment{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #878787;
}

.password-input {
    display: flex;
    align-items: center;
    padding: 5px 0 5px 0;
    border: 1px solid #878787;
    border-radius: 10px;
    
}

.password-input input {
    border: none;
    padding-left: 22px;
    
        position: relative; /* Позволяет позиционировать иконку относительно поля ввода */
        margin-bottom: 15px;
        width: 400px;
    
}

.password-input input::placeholder{
    color: #878787;
}

.password-input input:focus {
    outline: none; /* Убирает стандартную подсветку */
}

.password-input button {
    width: 30px;
    height: 30px;
    margin-right: 6px;
    margin-top: auto;
    margin-bottom: auto;
    transform: translateY(-50%);
    border: none;
    cursor: pointer;
}

.password-toggle{
    background-color: #ffff;

}

#show-password{
    background-image: url(/static/image/icon/eye-open.svg);
    width: 30px;
    height: 30px;
}

#hide-password{
    background-image: url(/static/image/icon/eye-closed.svg);
    width: 30px;
    height: 30px;
}
.password-hint {
    width: 350px;
    background-color:  #C6C6C6;
    padding: 23px;
    border-radius: 34px;
    font-size: 12px;
    color: #ffffff;
    margin-bottom: 15px;
}
