<footer>
    <div class="container">
        <div class="footer-content">
            <div>
                <img src="/static/image/logos/white_logo.svg" alt="white_logo" id="white-logo">
            </div>
            <div class="mail-and-telegram">
                <div class="block-footer">
                    <p>Открытые сердца в телеграм</p>
                    <div class="icon-text-container">
                        <img src="/static/image/icon/telegram.svg" alt="telegram_icon">
                        <a href="https://t.me/+ZS9J5xeL9fY3MWFi" target="_blank">@oopenhearts</a>
                    </div>
                </div>
                <div class="block-footer">
                    <p>Почта технической поддержки</p>
                    <div class="icon-text-container">
                        <img src="/static/image/icon/mail.svg" alt="telegram_icon">
                        <p>info@openhearts.ru</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>