<header>
        <div class="container">
            <div class="header-container">
                <div class="container-for-logo">
                    <a href="/"><img src="../static/image/logos/logo.svg" alt="logo"></a>
                </div>
                <div class="header-text">
                    <a href="/events">Мероприятия</a>
                </div>
                <div class="search-container">
                    <input type="text" placeholder="Поиск по мероприятиям" class="header-text">
                    <button></button>
                </div>
                <div class="sign-in-container">
                    <a href="/api/auth/login" class="header-text"><img src="../static/image/icon/man.svg" alt="man"><div></div>Войти</a>
                </div>
                <div class="sign-up">
                    <a href="/api/auth/registration" class="header-text">Зарегистрироваться</a>
                </div>
            </div>
        </div>
    </header>